body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.weather-container {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 300px;

    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.weather-container:hover {
    transform: scale(1.05);
}

input {
    padding: 10px;
    width: 80%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
